
.brand-title {
    color: lawngreen;
    font-size: 24px;
    font-weight: bold;
    /* text-decoration: none; */
}

.nav {
    color: white;
    font-weight: bold;
    /* transition:all;
    position:relative;
    white-space: nowrap;
    display: block;
    line-height: 1.33;
    text-decoration: none; */
}
  
.nav:hover {
    color: deepskyblue;
}

#home-list {
    font-size: 20px;
}
